<section class="category-wrapper pt-50">
    <div class="container-fluid">
        <div class="row">


            <div class="col-lg-3">

                <div class="filter-style-1">
                    <div class="filter-title">
                        <h4 class="title">Filter</h4>
                    </div>
                    <div class="filter-btn">
                        <button (click)="doFilter()" type="button" class="main-btn primary-btn">Filter</button>
                        <button style="margin:auto 10px;background-color:white; color:#4726CA;border:2px solid #4726CA" (click)="resetFilter()" type="button" class="main-btn primary-btn">Reset</button>
                    </div>
                </div>

                <div class="filter-style-8">
                    <div class="collapse show" id="search">
                        <div class="filter-search">
                            <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
                                <input [(ngModel)]="name" type="text" placeholder="Search" formControlName="name">
                                <button class="button" type="submit">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>

               

                <div class="filter-style-2">
                    <div class="filter-title">
                        <a class="title" data-bs-toggle="collapse" href="#pricingOne" role="button"
                            aria-expanded="false">Pricing Range</a>
                    </div>
                    <div id="pricingOne" class="filter-btn">
                        <ngx-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ngx-slider>
                        
                    </div>
                </div>



                <div class="filter-style-8">
                    <div class="filter-title">
                        <a class="title" data-bs-toggle="collapse" href="#category" role="button"
                            aria-expanded="false">Categories</a>
                    </div>
                    <div class="collapse show" id="category">
                        <div class="filter-category">
                            <ul class="category-list">
                                <li *ngFor="let category of categories;let i = index">
                                    <a class="" (click)="show('link-'+i)" data-bs-target={{i}} href="#" data-bs-toggle="collapse"
                                      >{{category.name}}</a>
                                    <ul id="link-{{i}}" class="sub-category collapse" data-parent="#category">

                                        <li *ngFor="let subcategory of category.subCategories">
                                            <input #saveUserNameCheckBox id="saveUserNameCheckBox" type="checkbox"
                                                [checked]="subcategory.checked"
                                                (change)="change(saveUserNameCheckBox.checked, subcategory.id)" />

                                            <label for="platform-1">
                                                <p style="margin-left: 10px;">{{subcategory.name}}</p>
                                            </label>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>



            </div>


            <div class="col-lg-9" >

                <div style="padding-top: 30%;"  class="row justify-content-center" *ngIf="isLoading">
                    <app-spinner></app-spinner>
                </div>

                <!--====== Product Style 6 Part Start ======-->
                <section class="product-wrapper " *ngIf="!isLoading">
                    <div class="container">
                        <ng-template #elseBlock>
                            <div id="notfound">
                                <div class="notfound">
                                    <div class="notfound-404">
                                        <h1>Oops!</h1>
                                        <h2>No products found</h2>
                                    </div>
                                </div>
                            </div>
                        </ng-template>

                        <div class="row " *ngIf="totalElements != 0; else elseBlock">

                            <div class="col-lg-4 col-sm-6" *ngFor="let product of products 
                                | paginate 
                                : {itemsPerPage: size,
                                currentPage: page,
                                totalItems: totalElements} ; let i = index">

                                <div class="product-style-17 mb-20 mt-15" style="padding: 5px">

                                    <div class="product-image shop-prod-img" id="shop-prod-img"
                                    style='background-image: url("{{product.productImg}}")'
                                    (error)="product.productImg = '/assets/images/product.jpg'"></div>

                                    <a [routerLink]="['/shop', product.id]"></a>
                                    <div class="product-content">
                                        <h4 class="title"><a
                                                [routerLink]="['/shop', product.id]">{{product.productName}}</a>
                                        </h4>
                                        <p>{{product.sellerName}}</p>
                                        <p>{{product.productPrice | currency:'USD'}}</p>
                                        <a href="javascript:void(0)" (click)="addToCart(i, $event)" class="main-btn secondary-1-btn"> <img
                                                src="assets/images/icon-svg/cart-4.svg" alt=""> Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Including the pagination control.-->
                    <div class="text-right" *ngIf="totalElements != 0;">
                        <pagination-controls class="pagi" (pageChange)="setPage((page = $event))">
                        </pagination-controls>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>