<h1 class="card-header" style="text-align: center; background-color: #262d35; color: white;">
    <div class="card-icon">
        All Products &nbsp;
        <img src="assets/images/inventory.png" alt="Card">
    </div>
</h1>
<!-- Begin inventory -->
<div class="profile-footer mt-45">
    <div class="row">
        <div class="col-lg-6" *ngFor="let product of products; let i = index">
            <div class="single-order" [routerLink]="['/admin/products',product.id]">
              <h4 class="order-id">
                <img style="cursor: pointer; width: 60px; height: 60px;" class="wishlist-img" [src]="product.productImg"
                  alt="Product"> &nbsp; &nbsp;
                <b>{{product.productName}}</b>
              </h4> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
              <b style="color: black;">Price: </b><b class="badge bg-primary-1 rounded-pill">{{product.productPrice | currency:'USD'}}</b> &nbsp; &nbsp;
              <b style="color: black;">Quantity: </b><b class="badge bg-primary-1 rounded-pill">{{product.productQuantity}}</b> &nbsp; &nbsp;
              <b style="color: black;">Subcategory: </b><b class="badge bg-primary-1 rounded-pill">{{product.subcategoryName}}</b> &nbsp; &nbsp;
      
              <b class="badge bg-success rounded-pill" *ngIf='product.isOnSale'>on sale</b>
              <b class="badge bg-danger rounded-pill" *ngIf='!product.isOnSale'>no sale</b>
      
            </div>
            <div>
                <h1><hr></h1>
            </div>
          </div>
          
    </div>