
            <div class="row justify-content-center">
                <hr>
                <div class="col-lg-6" *ngFor="let order of orderlist">
                    <div class="single-order"  style="text-align: left;">
                        <h5 class="order-id">Order ID: {{order.id}}</h5>
                        <p class=""> OrderedOn: {{order.date}} </p>
                        <ul class="order-meta" *ngFor="let prod of order.items">
                            <li  [routerLink]="['products',prod.id]">
                                <a class="product" href="javascript:void(0)">{{ prod.name}} </a> 
                                <span style="padding: 0px 10px;" class="product"> {{ (prod.price | currency:'USD') + " X " +prod.quantity}}</span>                   
                            </li>
                        </ul>
                        <div class="single-progress-bar-horizontal shipped">
                            <div class="progress-text">
                                <p>Ready</p>
                            </div>
                            <div class="progress-bar-inner">
                                <div class="bar-inner">
                                    <div class="progress-horizontal"></div>
                                </div>
                            </div>
                        </div>
                        <span style="color: white;" class="order-price badge bg-primary-3 rounded-pill">{{orderTotal(order) | currency:'USD'}}</span>
                    </div>
                </div>
                
                <hr>
            </div>



