

<section class="category-wrapper pt-50">
  <div class="container">
    <div class="row">


        <div class="col-lg-4">

            
            <div class="filter-style-1">
                <div class="filter-title">
                    <h4 class="title">Filter</h4>
                </div>
                <div class="filter-btn">
                    <a class="main-btn primary-btn" href="#">Reset</a>
                </div>
            </div>

            <div class="filter-style-2">
                <div class="filter-title">
                    <a class="title" data-bs-toggle="collapse" href="#pricingOne" role="button" aria-expanded="false">Pricing Range</a>
                </div>
                <div class="collapse show" id="pricingOne">
                    <div class="price-range">
                        <div class="price-amount">
                            <div class="amount-input">
                                <label>Minimum Price</label>
                                <input type="text" id="minAmount">
                            </div>
                            <div class="amount-input">
                                <label>Maximum Price</label>
                                <input type="text" id="maxAmount">
                            </div>
                        </div>
                        <div id="slider-range" class="slider-range"></div>
                    </div>
                </div>

                
            </div>


                                
            <div class="filter-style-8">
                <div class="filter-title">
                    <a class="title" data-bs-toggle="collapse" href="#category" role="button" aria-expanded="false">Categories</a>
                </div>
                <div class="collapse show" id="category">
                    <div class="filter-category">
                        <ul class="category-list">
                            <li><a href="#" data-bs-toggle="collapse" data-bs-target="#collapseOne">Oculus</a>
                                <ul id="collapseOne" class="sub-category collapse" data-parent="#category">
                                    <li>
                                        <input type="checkbox" id="platform-1">
                                        <label for="platform-1">
                                            <p style="margin-left: 10px;"> Oculus </p>
                                        </label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="platform-1">
                                        <label for="platform-1">
                                            <p style="margin-left: 10px;"> Oculus </p>
                                        </label>
                                    </li>
                                </ul>
                            </li>
                            <li><a class="collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseTwo">PlayStation 4</a>
                                <ul id="collapseTwo" class="sub-category collapse" data-parent="#category">
                                    <li>
                                        <input type="checkbox" id="platform-1">
                                        <label for="platform-1">
                                            <p style="margin-left: 10px;"> Oculus </p>
                                        </label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="platform-1">
                                        <label for="platform-1">
                                            <p style="margin-left: 10px;"> Oculus </p>
                                        </label>
                                    </li>
                                </ul>
                            </li>
                            <li><a class="collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseThree">SteamVR</a>
                                <ul id="collapseThree" class="sub-category collapse" data-parent="#category">
                                    <li>
                                        <input type="checkbox" id="platform-1">
                                        <label for="platform-1">
                                            <p style="margin-left: 10px;"> Oculus </p>
                                        </label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="platform-1">
                                        <label for="platform-1">
                                            <p style="margin-left: 10px;"> Oculus </p>
                                        </label>
                                    </li>
                                </ul>
                            </li>
                            <li><a class="collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseFour">Google Daydream</a>
                                <ul id="collapseFour" class="sub-category collapse" data-parent="#category">
                                    <li>
                                        <input type="checkbox" id="platform-1">
                                        <label for="platform-1">
                                            <p style="margin-left: 10px;"> Oculus </p>
                                        </label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="platform-1">
                                        <label for="platform-1">
                                            <p style="margin-left: 10px;"> Oculus </p>
                                        </label>
                                    </li>
                                </ul>
                            </li>
                            <li><a class="collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseFive">Nintendo Labo</a>
                                <ul id="collapseFive" class="sub-category collapse" data-parent="#category">
                                    <li>
                                        <input type="checkbox" id="platform-1">
                                        <label for="platform-1">
                                            <p style="margin-left: 10px;"> Oculus </p>
                                        </label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="platform-1">
                                        <label for="platform-1">
                                            <p style="margin-left: 10px;"> Oculus </p>
                                        </label>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>



        </div>

        <div class="col-lg-8">

            PRODUCTS GOES HERE
        </div>


    </div>
  </div>
</section>
