<section class="login-registration-wrapper pt-50 pb-100" style="background-color: rgb(231, 231, 231);">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-9 align-self-center">

                <div class="login-registration-style-2 text-center mt-50" style="background-color: rgb(202, 198, 198);">
                    <img src="assets/images/noAccess.png" alt="Card">
                    <hr>
                    <h6 class="heading-5 font-weight-400 title">
                        <b>Your role is <b>{{role}}</b> So You Couldn't access</b> &nbsp;
                        <i class="fas fa-times fa-lg" style="color: rgb(187, 13, 13); padding-top: 2px;"></i>
                    </h6>
                    <br>
                    <h6 class="heading-5 font-weight-500 title">
                        <b>You can
                            <b><a class="link-success" (click)="logout()">logout</a></b>
                            and resign
                        </b>
                        <h4 class="justify-content-center" style="color: rgb(187, 13, 13);">OR</h4>
                        <b> go 
                            <b><a class="link-success" (click)="goBack()">back</a></b>
                            to the previous page
                        </b>
                    </h6>
                </div>

            </div>
        </div>
    </div>
</section>