
<section class="product-details-wrapper mt-30 pb-100">
        <div class="product-details-bg bg_cover" style="background-image: url(assets/images/product-details-bg.jpg);"></div>
        <div class="container">
            <div class="product-details-style-6">
                <div class="product-details-image">
                    <div class="product-image">
                        <div class="product-image-active tab-content" id="v-pills-tabContent-6">
                            <div class="single-image tab-pane fade show active" id="v-pills-26" role="tabpanel" aria-labelledby="v-pills-26-tab">
                                <img src={{product.productImg}} alt="image">
                            </div>
                            <div class="single-image tab-pane fade" id="v-pills-27"
                            role="tabpanel" aria-labelledby="v-pills-27-tab"
                            *ngFor="let image of product.prodImages;let currentIndex=index">
                                <img src="assets/images/product-details-2/product-2.jpg" alt="image">
                            </div>
                            <div class="single-image tab-pane fade" id="v-pills-28" role="tabpanel" aria-labelledby="v-pills-28-tab">
                                <img src="assets/images/product-details-2/product-3.jpg" alt="image">
                            </div>
                            <div class="single-image tab-pane fade" id="v-pills-29" role="tabpanel" aria-labelledby="v-pills-29-tab">
                                <img src="assets/images/product-details-2/product-4.jpg" alt="image">
                            </div>
                            <div class="single-image tab-pane fade" id="v-pills-30" role="tabpanel" aria-labelledby="v-pills-30-tab">
                                <img src="assets/images/product-details-2/product-5.jpg" alt="image">
                            </div>
                        </div>
                    </div>
                    <div class="product-thumb-image">
                        <div class="product-thumb-image-active nav nav-pills" id="v-pills-tab-6" role="tablist" aria-orientation="vertical">
                            <div class="single-thumb active" id="v-pills-26-tab" data-bs-toggle="pill" href="#v-pills-26" role="tab" aria-controls="v-pills-26" aria-selected="true">
                                <img src={{product.productImg}} alt="image">
                            </div>
                            <div class="single-thumb" id="v-pills-27-tab" data-bs-toggle="pill" 
                            href="#v-pills-27" role="tab" aria-controls="v-pills-27" aria-selected="false"
                            *ngFor="let image of product.prodImages;let currentIndex=index">
                                <img src={{image}} alt="image">
                            </div>
                            <div class="single-thumb" id="v-pills-27-tab" data-bs-toggle="pill" href="#v-pills-27" role="tab" aria-controls="v-pills-27" aria-selected="false">
                                <img src="assets/images/product-details-1/thunb-2.jpg" alt="image">
                            </div>
                            <div class="single-thumb" id="v-pills-28-tab" data-bs-toggle="pill" href="#v-pills-28" role="tab" aria-controls="v-pills-28" aria-selected="false">
                                <img src="assets/images/product-details-1/thunb-3.jpg" alt="image">
                            </div>
                            <div class="single-thumb" id="v-pills-29-tab" data-bs-toggle="pill" href="#v-pills-29" role="tab" aria-controls="v-pills-29" aria-selected="false">
                                <img src="assets/images/product-details-1/thunb-4.jpg" alt="image">
                            </div>
                            <div class="single-thumb" id="v-pills-30-tab" data-bs-toggle="pill" href="#v-pills-30" role="tab" aria-controls="v-pills-30" aria-selected="false">
                                <img src="assets/images/product-details-1/thunb-5.jpg" alt="image">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="product-details-content mt-25">
                    <!-- <p class="sub-title">All-In-One VR</p> -->
                    <p class="sub-title">{{product.prodImages.length}}</p>
                    <h2 class="title">{{product.productName}}</h2>

                    <div class="row">
                        <div class="col-lg-6">
                            <!-- <div class="product-items flex-wrap mt-25">
                                <h6 class="item-title">Select Your Oculus: </h6>
                                <div class="items-wrapper" id="select-item-6">
                                    <div class="single-item active">
                                        <div class="items-image">
                                            <img src="assets/images/product-details-1/product-items-1.jpg" alt="product">
                                        </div>
                                    </div>
                                    <div class="single-item">
                                        <div class="items-image">
                                            <img src="assets/images/product-details-1/product-items-2.jpg" alt="product">
                                        </div>
                                    </div>
                                    <div class="single-item">
                                        <div class="items-image">
                                            <img src="assets/images/product-details-1/product-items-3.jpg" alt="product">
                                        </div>
                                    </div>
                                </div>
                            </div> -->

                            <div class="product-select-wrapper mt-10 flex-wrap">
                                <!-- <div class="select-item">
                                    <h6 class="select-title">Select Color: <span>Grey</span></h6>
                                    <ul class="color-select" id="select-color-6">
                                        <li class="active" style="background-color: #EFEFEF;"></li>
                                        <li style="background-color: #FAE5EC;"></li>
                                        <li style="background-color: #4C4C4C;"></li>
                                    </ul>
                                </div>
                                <div class="select-item">
                                    <h6 class="select-title">Memory (GB): </h6>
                                    <div class="size-select">
                                        <div class="select-position">
                                            <select>
                                                <option value="">32gb</option>
                                                <option value="">64gb</option>
                                                <option value="">128 gb</option>
                                            </select>
                                        </div>
                                    </div>
                                </div> -->
                                <div class="select-item">
                                    <h6 class="select-title">Select Quantity: </h6>

                                    <div class="select-quantity">
                                        <button type="button" id="sub" class="sub"><i class="mdi mdi-minus"></i></button>
                                        <input type="text" value="1" />
                                        <button type="button" id="add" class="add"><i class="mdi mdi-plus"></i></button>
                                    </div>
                                </div>
                                <div class="select-item">
                                    <h6 class="select-title">Select Shipping Country: <span>+ $ 30 USD</span> </h6>
                                    <div class="country-select">
                                        <div class="select-position">
                                            <select>
                                                <option value="0">-- Select Country --</option>
                                                <option value="1">Bangladesh</option>
                                                <option value="2">India</option>
                                                <option value="3">Pakistan</option>
                                                <option value="4">Australia</option>
                                                <option value="5">Canada</option>
                                                <option value="6">Spain</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="product-price-btn text-lg-right">
                                <div class="product-price">
                                    <h6 class="price-title">Price: </h6>
                                    <p class="sale-price">$ {{product.productPrice}} USD</p>
                                    <p class="regular-price">$ {{product.productPrice + 30}} USD</p>
                                </div>

                                <div class="product-btn">
                                    <a href="#0" class="main-btn primary-btn"><img src="assets/images/icon-svg/cart-4.svg" alt=""> Add to cart</a>
                                    <a href="#0" class="main-btn secondary-1-btn"><img src="assets/images/icon-svg/cart-8.svg" alt=""> Buy Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-product-review></app-product-review>
    </section>

    <!--======  Product Details Style 6 Part Ends ======-->


    <!--====== Bootstrap js ======-->
    <script src="assets/js/bootstrap.min.js"></script>

    <!--====== Tiny Slider js ======-->
    <script src="assets/js/tiny-slider.js"></script>

    <!--====== nouiSlider js ======-->
    <script src="assets/js/nouislider.min.js"></script>

    <!--====== count up js ======-->
    <script src="assets/js/count-up.min.js"></script>

    <!--====== gLightBox js ======-->
    <script src="assets/js/glightbox.min.js"></script>

    <!--====== Main js ======-->
    <script src="assets/js/main.js"></script>

    <script>
        // =========== select-item-1 active 
        selectItem1 = document.querySelectorAll("#select-item-1 .single-item");
        for (var i = 0; i < selectItem1.length; i++) {
            selectItem1[i].onclick = function() {
                var el = selectItem1[0];
                while (el) {
                    if (el.tagName === "DIV") {
                        el.classList.remove("active");
                    }
                    el = el.nextSibling;
                }
                this.classList.add("active");
            };
        }
        // =========== select-item-2 active
        selectItem2 = document.querySelectorAll("#select-item-2 .single-item");
        for (var i = 0; i < selectItem2.length; i++) {
            selectItem2[i].onclick = function() {
                var el = selectItem2[0];
                while (el) {
                    if (el.tagName === "DIV") {
                        el.classList.remove("active");
                    }
                    el = el.nextSibling;
                }
                this.classList.add("active");
            };
        }
        // =========== select-item-3 active
        selectItem3 = document.querySelectorAll("#select-item-3 .single-item");
        for (var i = 0; i < selectItem3.length; i++) {
            selectItem3[i].onclick = function() {
                var el = selectItem3[0];
                while (el) {
                    if (el.tagName === "DIV") {
                        el.classList.remove("active");
                    }
                    el = el.nextSibling;
                }
                this.classList.add("active");
            };
        }
        // =========== select-item-4 active
        selectItem4 = document.querySelectorAll("#select-item-4 .single-item");
        for (var i = 0; i < selectItem4.length; i++) {
            selectItem4[i].onclick = function() {
                var el = selectItem4[0];
                while (el) {
                    if (el.tagName === "DIV") {
                        el.classList.remove("active");
                    }
                    el = el.nextSibling;
                }
                this.classList.add("active");
            };
        }
        // =========== select-item-5 active
        selectItem5 = document.querySelectorAll("#select-item-5 .single-item");
        for (var i = 0; i < selectItem5.length; i++) {
            selectItem5[i].onclick = function() {
                var el = selectItem5[0];
                while (el) {
                    if (el.tagName === "DIV") {
                        el.classList.remove("active");
                    }
                    el = el.nextSibling;
                }
                this.classList.add("active");
            };
        }
        // =========== select-item-6 active
        selectItem6 = document.querySelectorAll("#select-item-6 .single-item");
        for (var i = 0; i < selectItem6.length; i++) {
            selectItem6[i].onclick = function() {
                var el = selectItem6[0];
                while (el) {
                    if (el.tagName === "DIV") {
                        el.classList.remove("active");
                    }
                    el = el.nextSibling;
                }
                this.classList.add("active");
            };
        }
        // =========== country-select-1 active
        countrySelect1 = document.querySelectorAll("#country-select-1 li");
        for (var i = 0; i < countrySelect1.length; i++) {
            countrySelect1[i].onclick = function() {
                var el = countrySelect1[0];
                while (el) {
                    if (el.tagName === "LI") {
                        el.classList.remove("active");
                    }
                    el = el.nextSibling;
                }
                this.classList.add("active");
            };
        }
        // =========== country-select-2 active
        countrySelect2 = document.querySelectorAll("#country-select-2 li");
        for (var i = 0; i < countrySelect2.length; i++) {
            countrySelect2[i].onclick = function() {
                var el = countrySelect2[0];
                while (el) {
                    if (el.tagName === "LI") {
                        el.classList.remove("active");
                    }
                    el = el.nextSibling;
                }
                this.classList.add("active");
            };
        }
        // =========== size-select-1 active
        sizeSelect1 = document.querySelectorAll("#size-select-1 li");
        for (var i = 0; i < sizeSelect1.length; i++) {
            sizeSelect1[i].onclick = function() {
                var el = sizeSelect1[0];
                while (el) {
                    if (el.tagName === "LI") {
                        el.classList.remove("active");
                    }
                    el = el.nextSibling;
                }
                this.classList.add("active");
            };
        }
        // =========== select-color-1 active
        selectColor1 = document.querySelectorAll("#select-color-1 li");
        for (var i = 0; i < selectColor1.length; i++) {
            selectColor1[i].onclick = function() {
                var el = selectColor1[0];
                while (el) {
                    if (el.tagName === "LI") {
                        el.classList.remove("active");
                    }
                    el = el.nextSibling;
                }
                this.classList.add("active");
            };
        }
        // =========== select-color-2 active
        selectColor2 = document.querySelectorAll("#select-color-2 li");
        for (var i = 0; i < selectColor2.length; i++) {
            selectColor2[i].onclick = function() {
                var el = selectColor2[0];
                while (el) {
                    if (el.tagName === "LI") {
                        el.classList.remove("active");
                    }
                    el = el.nextSibling;
                }
                this.classList.add("active");
            };
        }
        // =========== select-color-3 active
        selectColor3 = document.querySelectorAll("#select-color-3 li");
        for (var i = 0; i < selectColor3.length; i++) {
            selectColor3[i].onclick = function() {
                var el = selectColor3[0];
                while (el) {
                    if (el.tagName === "LI") {
                        el.classList.remove("active");
                    }
                    el = el.nextSibling;
                }
                this.classList.add("active");
            };
        }
        // =========== select-color-4 active
        selectColor4 = document.querySelectorAll("#select-color-4 li");
        for (var i = 0; i < selectColor4.length; i++) {
            selectColor4[i].onclick = function() {
                var el = selectColor4[0];
                while (el) {
                    if (el.tagName === "LI") {
                        el.classList.remove("active");
                    }
                    el = el.nextSibling;
                }
                this.classList.add("active");
            };
        }
        // =========== select-color-5 active
        selectColor5 = document.querySelectorAll("#select-color-5 li");
        for (var i = 0; i < selectColor5.length; i++) {
            selectColor5[i].onclick = function() {
                var el = selectColor5[0];
                while (el) {
                    if (el.tagName === "LI") {
                        el.classList.remove("active");
                    }
                    el = el.nextSibling;
                }
                this.classList.add("active");
            };
        }
        // =========== select-color-6 active
        selectColor6 = document.querySelectorAll("#select-color-6 li");
        for (var i = 0; i < selectColor6.length; i++) {
            selectColor6[i].onclick = function() {
                var el = selectColor6[0];
                while (el) {
                    if (el.tagName === "LI") {
                        el.classList.remove("active");
                    }
                    el = el.nextSibling;
                }
                this.classList.add("active");
            };
        }
    </script>