<!--====== Product Details Style 1 Part Start ======-->

<section class="product-details-wrapper pt-50 pb-100">
    <div class="container">
        <div class="product-details-style-1">
            <div class="row flex-lg-row-reverse align-items-center">
                <div class="col-lg-6">
                    <div class="product-details-image mt-50">
                        <div class="product-image">
                            <div class="product-image-active tab-content" id="v-pills-tabContent">
                                <div class="single-image tab-pane fade show active" id="v-pills-one" role="tabpanel"
                                    aria-labelledby="v-pills-one-tab">
                                    <img src="assets/images/product-details-1/product-1.jpg" alt="">
                                </div>
                                <div class="single-image tab-pane fade" id="v-pills-two" role="tabpanel"
                                    aria-labelledby="v-pills-{{i}}-tab"
                                    *ngFor="let image of product.prodImages; let i = index">
                                    <img src="assets/images/product-details-1/product-2.jpg" alt="">
                                </div>
                                <!-- <div class="single-image tab-pane fade" id="v-pills-three" role="tabpanel"
                                    aria-labelledby="v-pills-three-tab">
                                    <img src="assets/images/product-details-1/product-3.jpg" alt="">
                                </div>
                                <div class="single-image tab-pane fade" id="v-pills-four" role="tabpanel"
                                    aria-labelledby="v-pills-four-tab">
                                    <img src="assets/images/product-details-1/product-4.jpg" alt="">
                                </div>
                                <div class="single-image tab-pane fade" id="v-pills-five" role="tabpanel"
                                    aria-labelledby="v-pills-five-tab">
                                    <img src="assets/images/product-details-1/product-5.jpg" alt="">
                                </div> -->
                            </div>
                        </div>
                        <div class="product-thumb-image">

                            <div class="product-thumb-image-active nav flex-column nav-pills me-3" id="v-pills-tab"
                                role="tablist" aria-orientation="vertical">
                                <div class="single-thumb active" id="v-pills-one-tab" data-bs-toggle="pill"
                                    href="#v-pills-one" role="tab" aria-controls="v-pills-one" aria-selected="true">
                                    <img src="assets/images/product-details-1/thunb-1.jpg" alt="">
                                </div>
                                <div class="single-thumb" id="v-pills-two-tab" data-bs-toggle="pill" href="#v-pills-two"
                                    role="tab" aria-controls="v-pills-{{i}}" aria-selected="false"
                                    *ngFor="let image of product.prodImages; let i = index">
                                    <img src="assets/images/product-details-1/thunb-2.jpg" alt="">
                                </div>
                                <!-- <div class="single-thumb" id="v-pills-three-tab" data-bs-toggle="pill"
                                    href="#v-pills-three" role="tab" aria-controls="v-pills-three"
                                    aria-selected="false">
                                    <img src="assets/images/product-details-1/thunb-3.jpg" alt="">
                                </div>
                                <div class="single-thumb" id="v-pills-four-tab" data-bs-toggle="pill"
                                    href="#v-pills-four" role="tab" aria-controls="v-pills-four" aria-selected="false">
                                    <img src="assets/images/product-details-1/thunb-4.jpg" alt="">
                                </div>
                                <div class="single-thumb" id="v-pills-five-tab" data-bs-toggle="pill"
                                    href="#v-pills-five" role="tab" aria-controls="v-pills-five" aria-selected="false">
                                    <img src="assets/images/product-details-1/thunb-5.jpg" alt="">
                                </div> -->
                            </div>
                        </div>
                        <!-- <div class="product-image">
                            <div class="product-image-active tab-content" id="v-pills-tabContent">
                                <div class="single-image tab-pane fade show active" id="v-pills-one" role="tabpanel"
                                    aria-labelledby="v-pills-one-tab">
                                    <img src="assets/images/product-details-1/product-1.jpg" alt="">
                                </div>
                                <div class="single-image tab-pane fade" id="v-pills-two" role="tabpanel"
                                    aria-labelledby="v-pills-two-tab">
                                    <img src="assets/images/product-details-1/product-2.jpg" alt="">
                                </div>
                                <div class="single-image tab-pane fade" id="v-pills-three" role="tabpanel"
                                    aria-labelledby="v-pills-three-tab">
                                    <img src="assets/images/product-details-1/product-3.jpg" alt="">
                                </div>
                                <div class="single-image tab-pane fade" id="v-pills-four" role="tabpanel"
                                    aria-labelledby="v-pills-four-tab">
                                    <img src="assets/images/product-details-1/product-4.jpg" alt="">
                                </div>
                                <div class="single-image tab-pane fade" id="v-pills-five" role="tabpanel"
                                    aria-labelledby="v-pills-five-tab">
                                    <img src="assets/images/product-details-1/product-5.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="product-thumb-image">

                            <div class="product-thumb-image-active nav flex-column nav-pills me-3" id="v-pills-tab"
                                role="tablist" aria-orientation="vertical">
                                <div class="single-thumb active" id="v-pills-one-tab" data-bs-toggle="pill"
                                    href="#v-pills-one" role="tab" aria-controls="v-pills-one" aria-selected="true">
                                    <img src="assets/images/product-details-1/thunb-1.jpg" alt="">
                                </div>
                                <div class="single-thumb" id="v-pills-two-tab" data-bs-toggle="pill" href="#v-pills-two"
                                    role="tab" aria-controls="v-pills-two" aria-selected="false">
                                    <img src="assets/images/product-details-1/thunb-2.jpg" alt="">
                                </div>
                                <div class="single-thumb" id="v-pills-three-tab" data-bs-toggle="pill"
                                    href="#v-pills-three" role="tab" aria-controls="v-pills-three"
                                    aria-selected="false">
                                    <img src="assets/images/product-details-1/thunb-3.jpg" alt="">
                                </div>
                                <div class="single-thumb" id="v-pills-four-tab" data-bs-toggle="pill"
                                    href="#v-pills-four" role="tab" aria-controls="v-pills-four" aria-selected="false">
                                    <img src="assets/images/product-details-1/thunb-4.jpg" alt="">
                                </div>
                                <div class="single-thumb" id="v-pills-five-tab" data-bs-toggle="pill"
                                    href="#v-pills-five" role="tab" aria-controls="v-pills-five" aria-selected="false">
                                    <img src="assets/images/product-details-1/thunb-5.jpg" alt="">
                                </div>
                            </div>
                        </div> -->

                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="product-details-content mt-45">
                        <h2 class="title">{{product.productName}}</h2>



                        <div class="product-select-wrapper flex-wrap">
                            <div class="select-item">
                                <h6 class="select-title">Select Quantity: </h6>

                                <div class="select-quantity">
                                    <button type="button" id="sub" class="sub"><i class="mdi mdi-minus"></i></button>
                                    <input type="text" value="1" />
                                    <button type="button" id="add" class="add"><i class="mdi mdi-plus"></i></button>
                                </div>
                            </div>
                        </div>

                        <div class="product-price">
                            <h6 class="price-title">Price: </h6>
                            <p class="sale-price">{{product.productPrice | currency:'USD'}}</p>
                            <p class="regular-price">{{product.productPrice + 50 | currency:'USD'}}</p>
                        </div>

                        <div class="product-btn">
                            <a href="#0" class="main-btn primary-btn"><img src="assets/images/icon-svg/cart-4.svg"
                                    alt=""> Add to cart</a>
                            <a href="#0" class="main-btn secondary-1-btn"><img src="assets/images/icon-svg/cart-8.svg"
                                    alt=""> Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-product-review></app-product-review>
</section>
<!-- <script>
        // =========== select-item-1 active 
        selectItem1 = document.querySelectorAll("#select-item-1 .single-item");
        for (var i = 0; i < selectItem1.length; i++) {
            selectItem1[i].onclick = function() {
                var el = selectItem1[0];
                while (el) {
                    if (el.tagName === "DIV") {
                        el.classList.remove("active");
                    }
                    el = el.nextSibling;
                }
                this.classList.add("active");
            };
        }
        // =========== select-item-2 active
        selectItem2 = document.querySelectorAll("#select-item-2 .single-item");
        for (var i = 0; i < selectItem2.length; i++) {
            selectItem2[i].onclick = function() {
                var el = selectItem2[0];
                while (el) {
                    if (el.tagName === "DIV") {
                        el.classList.remove("active");
                    }
                    el = el.nextSibling;
                }
                this.classList.add("active");
            };
        }
        // =========== select-item-3 active
        selectItem3 = document.querySelectorAll("#select-item-3 .single-item");
        for (var i = 0; i < selectItem3.length; i++) {
            selectItem3[i].onclick = function() {
                var el = selectItem3[0];
                while (el) {
                    if (el.tagName === "DIV") {
                        el.classList.remove("active");
                    }
                    el = el.nextSibling;
                }
                this.classList.add("active");
            };
        }
        // =========== select-item-4 active
        selectItem4 = document.querySelectorAll("#select-item-4 .single-item");
        for (var i = 0; i < selectItem4.length; i++) {
            selectItem4[i].onclick = function() {
                var el = selectItem4[0];
                while (el) {
                    if (el.tagName === "DIV") {
                        el.classList.remove("active");
                    }
                    el = el.nextSibling;
                }
                this.classList.add("active");
            };
        }
        // =========== select-item-5 active
        selectItem5 = document.querySelectorAll("#select-item-5 .single-item");
        for (var i = 0; i < selectItem5.length; i++) {
            selectItem5[i].onclick = function() {
                var el = selectItem5[0];
                while (el) {
                    if (el.tagName === "DIV") {
                        el.classList.remove("active");
                    }
                    el = el.nextSibling;
                }
                this.classList.add("active");
            };
        }
        // =========== select-item-6 active
        selectItem6 = document.querySelectorAll("#select-item-6 .single-item");
        for (var i = 0; i < selectItem6.length; i++) {
            selectItem6[i].onclick = function() {
                var el = selectItem6[0];
                while (el) {
                    if (el.tagName === "DIV") {
                        el.classList.remove("active");
                    }
                    el = el.nextSibling;
                }
                this.classList.add("active");
            };
        }
        // =========== country-select-1 active
        countrySelect1 = document.querySelectorAll("#country-select-1 li");
        for (var i = 0; i < countrySelect1.length; i++) {
            countrySelect1[i].onclick = function() {
                var el = countrySelect1[0];
                while (el) {
                    if (el.tagName === "LI") {
                        el.classList.remove("active");
                    }
                    el = el.nextSibling;
                }
                this.classList.add("active");
            };
        }
        // =========== country-select-2 active
        countrySelect2 = document.querySelectorAll("#country-select-2 li");
        for (var i = 0; i < countrySelect2.length; i++) {
            countrySelect2[i].onclick = function() {
                var el = countrySelect2[0];
                while (el) {
                    if (el.tagName === "LI") {
                        el.classList.remove("active");
                    }
                    el = el.nextSibling;
                }
                this.classList.add("active");
            };
        }
        // =========== size-select-1 active
        sizeSelect1 = document.querySelectorAll("#size-select-1 li");
        for (var i = 0; i < sizeSelect1.length; i++) {
            sizeSelect1[i].onclick = function() {
                var el = sizeSelect1[0];
                while (el) {
                    if (el.tagName === "LI") {
                        el.classList.remove("active");
                    }
                    el = el.nextSibling;
                }
                this.classList.add("active");
            };
        }
        // =========== select-color-1 active
        selectColor1 = document.querySelectorAll("#select-color-1 li");
        for (var i = 0; i < selectColor1.length; i++) {
            selectColor1[i].onclick = function() {
                var el = selectColor1[0];
                while (el) {
                    if (el.tagName === "LI") {
                        el.classList.remove("active");
                    }
                    el = el.nextSibling;
                }
                this.classList.add("active");
            };
        }
        // =========== select-color-2 active
        selectColor2 = document.querySelectorAll("#select-color-2 li");
        for (var i = 0; i < selectColor2.length; i++) {
            selectColor2[i].onclick = function() {
                var el = selectColor2[0];
                while (el) {
                    if (el.tagName === "LI") {
                        el.classList.remove("active");
                    }
                    el = el.nextSibling;
                }
                this.classList.add("active");
            };
        }
        // =========== select-color-3 active
        selectColor3 = document.querySelectorAll("#select-color-3 li");
        for (var i = 0; i < selectColor3.length; i++) {
            selectColor3[i].onclick = function() {
                var el = selectColor3[0];
                while (el) {
                    if (el.tagName === "LI") {
                        el.classList.remove("active");
                    }
                    el = el.nextSibling;
                }
                this.classList.add("active");
            };
        }
        // =========== select-color-4 active
        selectColor4 = document.querySelectorAll("#select-color-4 li");
        for (var i = 0; i < selectColor4.length; i++) {
            selectColor4[i].onclick = function() {
                var el = selectColor4[0];
                while (el) {
                    if (el.tagName === "LI") {
                        el.classList.remove("active");
                    }
                    el = el.nextSibling;
                }
                this.classList.add("active");
            };
        }
        // =========== select-color-5 active
        selectColor5 = document.querySelectorAll("#select-color-5 li");
        for (var i = 0; i < selectColor5.length; i++) {
            selectColor5[i].onclick = function() {
                var el = selectColor5[0];
                while (el) {
                    if (el.tagName === "LI") {
                        el.classList.remove("active");
                    }
                    el = el.nextSibling;
                }
                this.classList.add("active");
            };
        }
        // =========== select-color-6 active
        selectColor6 = document.querySelectorAll("#select-color-6 li");
        for (var i = 0; i < selectColor6.length; i++) {
            selectColor6[i].onclick = function() {
                var el = selectColor6[0];
                while (el) {
                    if (el.tagName === "LI") {
                        el.classList.remove("active");
                    }
                    el = el.nextSibling;
                }
                this.classList.add("active");
            };
        }
    </script> -->