
<div class="container-fluid ">
  <div class="row d-flex justify-content-center">
    <div class="col-md-6 col-lg-3">
      <div class="d-flex justiy-content-center">
        <label class="row-md-3 col-lg-3">
          Page :
         </label>

         <div class="row-md-3 col-lg-6">
            <button (click)="decreasePage()" class="btn btn-defualt btn-sm" > << </button>
            {{page+1}}
            <button (click)="increasePage()" class="btn btn-defualt btn-sm" > >> </button>
         </div>

      </div>
    </div>
    <div class="col-md-6 col-lg-3">
      <div class="d-flex justiy-content-center">

        <label class="row-md-3 col-lg-4">
         Page Size:
        </label>

        <select class="form-select form-select-sm row-md-3 col-lg-2" (change)="updateSize(pageSize.value)" #pageSize>
          <option selected value="10" >10</option>
          <option value="15">15</option>
          <option value="20">20</option>
        </select>

      </div>
    </div>
  </div>

</div>


