
    <section class="login-registration-wrapper pt-50 pb-100">
        <div class="container">

            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-10">
                    <div class="login-registration-style-3 mt-50">
                        <h4 class="heading-4 font-weight-500 title">Login to your account</h4>
                        <p class="paragraph-small font-weight-300 mt-15">Login to your account for a faster checkout.</p>
                        <div class="row">
                            <div class="col-md-7">
                                <form action="#">
                                    <div class="single-form form-default">
                                        <label>Email Address</label>
                                        <div class="form-input">
                                            <input type="email" placeholder="user@email.com">
                                            <i class="mdi mdi-email"></i>
                                        </div>
                                    </div>
                                    <div class="single-form form-default">
                                        <label>Choose Password</label>
                                        <div class="form-input">
                                            <input id="password-9" type="password" placeholder="Password">
                                            <i class="mdi mdi-lock"></i>
                                            <span toggle="#password-9" class="mdi mdi-eye-outline toggle-password"></span>
                                        </div>
                                    </div>
                                    <a class="forget" href="#0">Forget Password?</a>
                                    <div class="single-form">
                                        <button class="main-btn primary-btn">Log in</button>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-5">
                                <p class="account">Login with Social Account</p>
                                <ul>
                                    <li><a href="#0" class="facebook-login-registration"><i class="lni lni-facebook-original"></i> <span>Login with Facebook</span></a></li>
                                    <li><a href="#0" class="google-login-registration"><img src="assets/images/google-logo.svg" alt=""> <span>Login with Google</span></a></li>
                                </ul>
                                <p class="login">Haven’t an account? <a href="#0">Sign up</a></p>
                                <p class="account mt-20">Continue as a Guest?</p>
                                <div class="single-form">
                                    <a href="#0" class="main-btn primary-btn-border">Continue</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>