



<div class="container">
    <div class="row justify-content-center">

        <div class="col-xl-8 col-lg-10 " *ngIf="isLoading">
           <app-spinner></app-spinner> 
        </div>

        <div class="col-xl-8 col-lg-10 " *ngIf="!isLoading">
            
            <form  [formGroup]="addProductForm" (ngSubmit)="onSubmit()">

                <div class="">
                    <label for="name" class="form-label">Product Name:</label>
                    <input 
                    type="text"
                    id="name" 
                    class="form-control" 
                    placeholder="* Product Name"
                    formControlName="name">

                    <small 
                    *ngIf="!addProductForm.get('name').valid && addProductForm.get('name').touched "
                    id="nameHelp" 
                    class="form-text help-err"
                    >We'll never share your email with anyone else.</small>
                </div>

                <br>

                <div class="">
                    <label for="description" class="form-label">Product Description:</label>
                    <textarea 
                    class="form-control" 
                    id="description" 
                    rows="3" 
                    placeholder="Product Description"
                    formControlName="description"></textarea>
                </div>

                <br>

                <div class="form-group" formGroupName="categoryGroup">
                    <label for="category">Category</label>
                    <select  formControlName="category" class="form-control" id="category"(change)="onCategoryChange($event.target.value)" >
                        <!-- <option selected value="--select category--">--select category--</option> -->
                        <option *ngFor ="let category of categories" [value]="category.id">{{category.name}}</option>
                    </select> 

                    <br>

                    <label for="subcategory">Sub Category</label>
                    <select formControlName="subcategory" class="form-control" id="subcategory">
                        <option *ngFor ="let sub of subCategories" [value]="sub.id">{{sub.name}}</option>
                        <!-- <option selected value="--select subcategory--">--select subcategory--</option>
                        <option value="1">Consoles</option>
                        <option value="2">Pcs</option> -->
                    </select>

                  </div>

                <br>

                <div class="">
                    <label for="quantity" class="form-label">Product Quantity:</label>
                    <input 
                    type="number"
                    class="form-control" 
                    id="quantity" 
                    placeholder="Product Quantity"
                    formControlName="quantity">
                </div>

                <br>

                <label for="price">Price:</label><br>
                <input  formControlName="price" type="number"   class="form-control" id="price">

                <br> <br>
                
                <div class="form-group" formGroupName="imagesGroup"> 
                    <label for="mainImage">Main Image:</label><br>
                    <input (change)="onImagePick($event)"  formControlName="mainImage" type="file"  accept="image/png, image/jpeg" class="form-control-file" id="mainImage">

                    <br> <br>

                    <label for="catalogImages">Catalog Images:</label><br>
                    <input (change)="onCatalogPick($event)" multiple formControlName="catalogImages" type="file"  accept="image/png, image/jpeg" class="form-control-file" id="catalogImages">

                    <br> <br>




                    <div formArrayName="catalog" >
                        <label for="mainI1mage">Category Images: </label><br>
                        <button class="btn btn-primary" type="button" (click)="onAddCategoryImage()">Add Category Image</button>
                        <br> 
                        <div class="form-group" *ngFor="let catalogControl of getControls(); let i = index ">
                            <br>
                            <label for="image-{{i+1}}">Image: {{i+1}}</label>
                            <br>
                            <input type="file" id="image-{{i+1}}"  accept="image/png, image/jpeg" class="form-control-file" [formControlName]="i">
                            <br>
                            <button type="button" class="btn btn-danger" (click)="removeCategoryImage(i)"> remove</button>
                        </div>
                    </div>
                  </div>
               
                <br>



                <div class="row justify-content-center">
                    <small 
                    *ngIf="!addProductForm.valid && addProductForm.touched "
                    id="nameHelp" 
                    class="form-text help-err">You Cannot Submit an Invalid Form</small>

                </div>

                <br>
                  
                <button type="submit" class="btn btn-primary">Submit</button>

            </form>


        </div>
    </div>
</div>