<section class="header-style-1 header-style-dark-1 mt-20">

  <div class="header-big position-relative">
    <div class="tns-outer" id="tns1-ow">
      <div class="tns-nav" aria-label="Carousel Pagination">
        <button
          type="button"
          data-nav="0"
          aria-controls="tns1"
          aria-label="Carousel Page 1 (Current Slide)"
          class="tns-nav-active"
        ></button>
        <button
          type="button"
          data-nav="1"
          aria-controls="tns1"
          aria-label="Carousel Page 2"
          class=""
          tabindex="-1"
        ></button>
        <button
          type="button"
          data-nav="2"
          aria-controls="tns1"
          aria-label="Carousel Page 3"
          class=""
          tabindex="-1"
        ></button>
      </div>
      <div
        class="tns-liveregion tns-visually-hidden"
        aria-live="polite"
        aria-atomic="true">
        slide <span class="current">2</span> of 3
      </div>
      <div id="tns1-mw" class="tns-ovh">
        <div class="tns-inner" id="tns1-iw">
          <div
            class="
              header-items-active-dark-1
              tns-slider tns-carousel tns-subpixel tns-calc tns-horizontal
            "
            id="tns1"
            style="
              transform: translate3d(0%, 0px, 0px);
              transition-duration: 0s;
            "
          >
            <div
              class="single-header-item bg_cover tns-item tns-slide-cloned"
              style="background-image: url('./assets/images/xbox_bg.png')"
              aria-hidden="true"
              tabindex="-1"
            >
              <div class="header-item-content">
                <h3 class="title">XBOX Series X</h3>
                <a routerLink="/shop" class="link" >Check it out NOW!</a
                >
              </div>
            </div>
            <div
              class="single-header-item bg_cover tns-item tns-slide-cloned"
              style="background-image: url('./assets/images/cyberpunk2077.jpg')"
              id="tns1-item0">
              <div class="header-item-content">
                <h3 class="title">
                  The New Dystopian Future CYBERPUNK 2077, is here make sure to
                  grab it
                </h3>
                <a  routerLink="/shop" class="link">check our latest games</a>
              </div>
            </div>
            <div
              class="single-header-item bg_cover tns-item"
              style="background-image: url('./assets/images/ps5_bg.jpg')"
              id="tns1-item1"
              aria-hidden="true"
              tabindex="-1"
            >
              <div class="header-item-content">
                <h3 class="title">the powerful PS5 is here ,grab it !</h3>
                <a  routerLink="/shop" class="link"
                  >Very limited supply
                </a>
              </div>
            </div>
            <div
              class="single-header-item bg_cover tns-item"
              style="background-image: url('./assets/images/xbox_bg.png')"
              id="tns1-item2"
              aria-hidden="true"
              tabindex="-1"
            >
              <div class="header-item-content">
                <h3 class="title">XBOX Series X</h3>
                <a  routerLink="/shop" class="link"
                  >Check it out NOW!</a
                >
              </div>
            </div>
            <div
              class="single-header-item bg_cover tns-item tns-slide-cloned"
              style="background-image: url('./assets/images/cyberpunk2077.jpg')"
              aria-hidden="true"
              tabindex="-1"
            >
              <div class="header-item-content">
                <h3 class="title">
                  The New Dystopian Future CYBERPUNK 2077, is here make sure to
                  grab it
                </h3>
                <a  routerLink="/shop" class="link">check our latest games</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header-min">
    <div
      class="header-min-item product-style-25 bg_cover"
      style="background-image: url('./assets/images/ps5_c_bg.jpg')"
    >
      <div class="product-content">
        <h4 class="title"><a routerLink="/shop/2">PS5 Joystick</a></h4>
        <p>Powerful PS5 joystick</p>
        <a routerLink="/shop" class="main-btn secondary-2-btn">
          <img src="./assets/images/icon-svg/cart-7.svg" alt="" />Buy Now</a
        >
      </div>
    </div>
    <div
      class="header-min-item product-style-25 bg_cover"
      style="background-image: url('./assets/images/xbox_1.jpg')"
    >
      <div class="product-content">
        <h4 class="title"><a routerLink="/shop">XBOX Joystick</a></h4>
        <p>Slick XBOX Joystick</p>
        <a routerLink="/shop" class="main-btn secondary-2-btn">
          <img src="./assets/images/icon-svg/cart-7.svg" alt="" />Buy Now</a
        >
      </div>
    </div>
  </div>
</section>

<!--====== Content Card Style 6 Part Start ======-->
<section class="content-card-style-6 pt-95 pb-100">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="content-card-title text-center pb-30">
          <h6 class="sub-title">ACCESSORIES & PARTS</h6>
          <h2 class="main-title">
            Everything you <br />
            need to Go
          </h2>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-4 col-sm-9">
        <div class="single-content-card text-center mt-30">
          <div class="content-card-image">
            <img src="assets/images/content-card-4/caontent-1.jpg" alt="" />
          </div>
          <div class="content-card-content">
            <h4 class="title">
              <a routerLink="/shop">Replacement Controller</a>
            </h4>
            <p>
              A replacement for the Oculus Go controller. Only one controller
              can be synced.
            </p>
            <a routerLink="/shop" class="main-btn primary-btn"
              ><img src="assets/images/icon-svg/cart-4.svg" alt="" /> BUY</a
            >
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-9">
        <div class="single-content-card text-center mt-30">
          <div class="content-card-image">
            <img src="assets/images/content-card-4/caontent-2.jpg" alt="" />
          </div>
          <div class="content-card-content">
            <h4 class="title">
              <a routerLink="/shop">Fitted Interface</a>
            </h4>
            <p>
              A replacement for the Oculus Go controller. Only one controller
              can be synced.
            </p>
            <a routerLink="/shop" class="main-btn primary-btn"
              ><img src="assets/images/icon-svg/cart-4.svg" alt="" /> BUY</a
            >
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-9">
        <div class="single-content-card text-center mt-30">
          <div class="content-card-image">
            <img src="assets/images/content-card-4/caontent-3.jpg" alt="" />
          </div>
          <div class="content-card-content">
            <h4 class="title">
              <a routerLink="/shop">Oculus Go Case</a>
            </h4>
            <p>
              A replacement for the Oculus Go controller. Only one controller
              can be synced.
            </p>

            <a routerLink="/shop" class="main-btn primary-btn"
              ><img src="assets/images/icon-svg/cart-4.svg" alt="" /> BUY</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--====== Content Card Style 6 Part Ends ======-->
<!--====== Content Card Style 1 Part Start ======-->

<section class="content-card-wrapper">
  <div class="content-card-style-1">
    <div class="container">
      <div class="row justify-content-end">
        <div class="col-md-6">
          <div class="content-card-content">
            <h6 class="sub-title">ALL-IN-ONE VR</h6>
            <h2 class="main-title">Always ready when you are</h2>
            <p>
              Oculus Go is our all-in-one VR headset that’s portable and easy to
              use. Experience entertainment on the go with no PC, wires or
              hassles.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div
      class="content-card-image-2 bg_cover"
      style="background-image: url(assets/images/content-card-1/content-2.jpg)"
    ></div>
  </div>
</section>
<!--====== Content Card Style 1 Part Ends ======-->
<!--====== Content Card Style 4 Part Start ======-->
<section class="content-card-style-4 bg-white pt-70 pb-100">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-7 col-sm-8">
        <div class="single-content mt-15 text-center">
          <div class="content-icon">
            <i class="mdi mdi-truck-fast"></i>
          </div>
          <div class="content-content">
            <div class="card-icon">
              <img src="assets/images/express-delivery.png" alt="Card" />
            </div>
            <br />
            <h4 class="title"><a routerLink="/contact">Two-hour delivery</a></h4>
            <p>Available in most metros on selected in-stock products</p>
            <a routerLink="/contact" class="more">learn more</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-7 col-sm-8">
        <div class="single-content mt-15 text-center">
          <div class="content-icon">
            <i class="mdi mdi-message-text"></i>
          </div>
          <div class="content-content">
            <div class="card-icon">
              <img src="assets/images/chat.png" alt="Card" />
            </div>
            <br />
            <h4 class="title"><a routerLink ="/contact">Get help buying</a></h4>
            <p>Have a question? Call a Specialist or chat online for help</p>
            <a routerLink="/contact" class="more">Contact us</a>
          </div>
        </div>
      </div> 
      <div class="col-lg-4 col-md-7 col-sm-8">
        <div class="single-content mt-15 text-center">
          <div class="content-icon">
            <i class="mdi mdi-ticket-percent"></i>
          </div>
          <div class="content-content">
            <div class="card-icon">
              <img src="assets/images/offer.png" alt="Card" />
            </div>
            <br />
            <h4 class="title"><a routerLink="/contact">Find the card for you</a></h4>
            <p>Get 3% Daily Cash with special financing offers from us</p>
            <a routerLink="/contact" class="more">learn more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--====== Content Card Style 4 Part Ends ======-->
<!--====== Product Style 7 Part Start ======-->
<section class="product-wrapper pb-100">
  <div class="container">
    <h3 class="main-title text-center">Featured Products</h3>
    <div class="row">
      <!-- <div class="product-item" *ngFor="let myProd of items"> -->
      <div class="col-lg-6" id="1">
        <div class="product-style-7 mt-30">
          <div class="product-image">
            <div class="product-active">
              <div class="product-item active bg_cover">
                <img [src]="featuredProduct1?.productImg" alt="product" />
              </div>
            </div>
          </div>
          <div class="product-content">
            <ul class="product-meta">
              <li>
                <span><i class="mdi mdi-star"></i> 4.5/5</span>
              </li>
            </ul>
            <h4 class="title">
              <a [routerLink]="['/shop', featuredProduct1?.id ]">{{
                featuredProduct1.productName
              }}</a>
            </h4>
            <span class="price">$ {{ featuredProduct1.productPrice }}</span>

            <a
              [routerLink]="['/shop', featuredProduct1.id]"
              class="main-btn primary-btn"
            >
              <img src="assets/images/icon-svg/cart-4.svg" alt="" /> Buy</a
            >
          </div>
        </div>
      </div>

      <div class="col-lg-6" id="myProd.id">
        <div class="product-style-7 mt-30">
          <div class="product-image">
            <div class="product-active">
              <div class="product-item active bg_cover">
                <img [src]="featuredProduct2.productImg" alt="product" />
              </div>
            </div>
          </div>
          <div class="product-content">
            <ul class="product-meta">
              <li>
                <span><i class="mdi mdi-star"></i> 4.5/5</span>
              </li>
            </ul>
            <h4 class="title">
              <a [routerLink]="['/shop', featuredProduct2.id]">{{
                featuredProduct2.productName
              }}</a>
            </h4>
            <span class="price">$ {{ featuredProduct2.productPrice }}</span>

            <a
              [routerLink]="['/shop', featuredProduct2.id]"
              class="main-btn primary-btn"
            >
              <img src="assets/images/icon-svg/cart-4.svg" alt="" /> Buy</a
            >
          </div>
        </div>
      </div>

      <!-- </div> end of loop -->
    </div>
  </div>
</section>
<!--====== Product Style 7 Part Ends ======-->
<!--======  Product Details Style 6 Part Start ======-->
<section class="product-details-wrapper mt-30 pb-100">
  <div
    class="product-details-bg bg_cover"
    style="background-image: url(assets/images/product-details-bg.jpg)"
  ></div>
  <div class="container">
    <div class="product-details-style-6">
      <div class="product-details-image">
        <div class="product-image">
          <div
            class="product-image-active tab-content"
            id="v-pills-tabContent-6"
          >
            <div
              class="single-image tab-pane fade show active"
              id="v-pills-26"
              role="tabpanel"
              aria-labelledby="v-pills-26-tab"
            >
              <img src="assets/images/product-details-1/product-1.jpg" alt="" />
            </div>
            <div
              class="single-image tab-pane fade"
              id="v-pills-27"
              role="tabpanel"
              aria-labelledby="v-pills-27-tab"
            >
              <img src="assets/images/product-details-1/product-2.jpg" alt="" />
            </div>
            <div
              class="single-image tab-pane fade"
              id="v-pills-28"
              role="tabpanel"
              aria-labelledby="v-pills-28-tab"
            >
              <img src="assets/images/product-details-1/product-3.jpg" alt="" />
            </div>
            <div
              class="single-image tab-pane fade"
              id="v-pills-29"
              role="tabpanel"
              aria-labelledby="v-pills-29-tab"
            >
              <img src="assets/images/product-details-1/product-4.jpg" alt="" />
            </div>
            <div
              class="single-image tab-pane fade"
              id="v-pills-30"
              role="tabpanel"
              aria-labelledby="v-pills-30-tab"
            >
              <img src="assets/images/product-details-1/product-5.jpg" alt="" />
            </div>
          </div>
        </div>
        <div class="product-thumb-image">
          <div
            class="product-thumb-image-active nav nav-pills"
            id="v-pills-tab-6"
            role="tablist"
            aria-orientation="vertical"
          >
            <div
              class="single-thumb active"
              id="v-pills-26-tab"
              data-bs-toggle="pill"
              href="#v-pills-26"
              role="tab"
              aria-controls="v-pills-26"
              aria-selected="true"
            >
              <img src="assets/images/product-details-1/thunb-1.jpg" alt="" />
            </div>
            <div
              class="single-thumb"
              id="v-pills-27-tab"
              data-bs-toggle="pill"
              href="#v-pills-27"
              role="tab"
              aria-controls="v-pills-27"
              aria-selected="false"
            >
              <img src="assets/images/product-details-1/thunb-2.jpg" alt="" />
            </div>
            <div
              class="single-thumb"
              id="v-pills-28-tab"
              data-bs-toggle="pill"
              href="#v-pills-28"
              role="tab"
              aria-controls="v-pills-28"
              aria-selected="false"
            >
              <img src="assets/images/product-details-1/thunb-3.jpg" alt="" />
            </div>
            <div
              class="single-thumb"
              id="v-pills-29-tab"
              data-bs-toggle="pill"
              href="#v-pills-29"
              role="tab"
              aria-controls="v-pills-29"
              aria-selected="false"
            >
              <img src="assets/images/product-details-1/thunb-4.jpg" alt="" />
            </div>
            <div
              class="single-thumb"
              id="v-pills-30-tab"
              data-bs-toggle="pill"
              href="#v-pills-30"
              role="tab"
              aria-controls="v-pills-30"
              aria-selected="false"
            >
              <img src="assets/images/product-details-1/thunb-5.jpg" alt="" />
            </div>
          </div>
        </div>
      </div>

      <div class="product-details-content mt-25">
        <h2 class="title">{{ oculus?.productName }}</h2>

        <div class="row">
          <div class="col-lg-6">
            <div class="product-select-wrapper mt-10 flex-wrap">
              is simply dummy text of the printing and typesetting industry.
              Lorem Ipsum has been the industry's standard dummy text ever since
              the 1500s, when an unknown printer took a galley of type and
              scrambled it to make a type specimen book. It has survived not
              only five centuries, but also the leap into electronic
              typesetting,
            </div>
          </div>
          <div class="col-lg-6">
            <div class="product-price-btn text-lg-right">
              <div class="product-price">
                <h6 class="price-title">Price:</h6>
                <p class="sale-price">{{ oculus?.productPrice }}</p>
                <p class="regular-price">$ 179 USD</p>
              </div>

              <div class="product-btn">
                <a
                  routerLink="/shop"
                  class="main-btn secondary-1-btn"
                  ><img src="assets/images/icon-svg/cart-8.svg" alt="" /> Buy
                  Now</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



