<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <!-- Row -->
    <h1 class="card-header" style="text-align: center; background-color: #262d35; color: white;">
        <!-- <i class="fas fa-dolly-flatbed"></i> -->
        <div class="card-icon">
            Inventory item {{ productDetails.sellerProduct.id }}
            <img src="assets/images/info.png" alt="Card">
        </div>
    </h1>
    <div class="row">
        <div>
            <hr>
        </div>
        <div class="col-lg-5 col-xlg-4 col-md-5">
            <div class="card">
                <h3 class="card-header" style="text-align: center; background-color: #262d35; color: white;">
                    <div class="card-icon">
                        Product {{ productDetails.sellerProduct.id }}
                        Album
                        <img src="assets/images/album.png" alt="Card"> &nbsp;
                    </div>
                </h3>
                <div class="card-body">
                    <div class="carousel"
                        data-flickity='{ "wrapAround": "true", "autoPlay": true, "imagesLoaded": true}'>
                        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
                            <div ngxSlickItem *ngFor="let image of productDetails.sellerProduct.prodImages"
                                class="slide">
                                <div
                                    style="background-image: url('{{image}}');height: 300px; width: 100%; background-size: contain; background-repeat: no-repeat; background-position: center; ">
                                </div>
                            </div>
                        </ngx-slick-carousel>
                    </div>
                </div>
            </div>
            <div>
                <hr>
            </div>
            <div class="card">
                <h3 class="card-header" style="text-align: center; background-color: #262d35; color: white;">
                    <div class="card-icon">
                        Product {{ productDetails.sellerProduct.id }}
                        Statistic &nbsp;
                        <img src="assets/images/analytics.png" alt="Card">
                    </div>
                </h3> <br>
                <div class="card-body">
                    <div class="reviews-style">
                        <div class="reviews-menu">
                            <ul class="nav"> &nbsp; &nbsp; &nbsp; &nbsp;
                                <li>
                                    <!-- <a class="active">
                                        <i class="fas fa-thumbs-up" style="color: rgb(43, 38, 105);"></i>
                                        Rating: {{totalElements}} Reviews
                                    </a> -->
                                    <div class="single-card-info d-flex">
                                        <div class="card-icon">
                                            <img src="assets/images/rating.png" alt="Card"> &nbsp;
                                        </div>
                                        <div class="card-info media-body">
                                            <h4 _ngcontent-mej-c137=""
                                                class="d-flex justify-content-between align-items-center mb-3">
                                                <span class="ui-button-text-icon-secondary">Reviews</span> &nbsp; &nbsp;
                                                &nbsp;
                                                <span class="badge bg-primary-3 rounded-pill">
                                                    {{totalElements}}
                                                </span>
                                            </h4>
                                        </div>
                                    </div>
                                </li> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                <li>
                                    <div class="single-card-info d-flex">
                                        <div class="card-icon">
                                            <img src="assets/images/average.png" alt="Card"> &nbsp;
                                        </div>
                                        <div class="card-info media-body">
                                            <h4 _ngcontent-mej-c137=""
                                                class="d-flex justify-content-between align-items-center mb-3">
                                                <span class="ui-button-text-icon-secondary">Average</span> &nbsp; &nbsp;
                                                &nbsp;
                                                <span class="badge bg-primary-3 rounded-pill">
                                                    {{productDetails.averageRating? productDetails.averageRating :
                                                    "-" }} / 5
                                                </span>
                                            </h4>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="reviews-rating-wrapper flex-wrap" style="padding: 40px;">
                            <div class="reviews-rating-star">

                                <div class="reviews-rating-bar" *ngFor="let rate of ratingPercentages; let i=index">
                                    <div class="reviews-rating-bar">
                                        <div class="single-reviews-rating-bar">
                                            <i class="fas fa-star" style="color: gold;"></i> &nbsp;
                                            <p class="value">{{i + 1}} Stars</p>
                                            <div class="rating-bar-inner">
                                                <div class="bar-inner" [style.width]="rate + '%'"></div>
                                            </div>
                                            <p class="percent">{{rate}}%</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- </div>
</section> -->
                </div>
            </div>

        </div>

        <div class="col-lg-7 col-xlg-4 col-md-5">
            <div class="card">
                <h3 class="card-header" style="text-align: center; background-color: #262d35; color: white;">
                    <div class="card-icon">
                        Product {{ productDetails.sellerProduct.id }}
                        Details
                        <img src="assets/images/cart.png" alt="Card"> &nbsp;
                    </div>
                </h3>
                <div class="card-body">
                    <div class="m-t-30" style="text-align: center;">
                        <img [src]='productDetails.sellerProduct.productImg' class="rounded-circle" width="120px"
                            height="120px" />
                    </div> <br>
                    <div class="col-md-4 col-sm-6" style="margin-left: 33%;">
                        <div class="single-card-info d-flex">
                            <div class="card-icon">
                                <img src="assets/images/coupon.png" alt="Card"> &nbsp;
                            </div>
                            <div class="card-info media-body">
                                <h4 class="d-flex justify-content-between align-items-center mb-3">
                                    <span class="ui-button-text-icon-secondary">On Sale</span>
                                    <span>
                                        <ng-toggle (change)="toggleSale($event)" [(ngModel)]="isOnSale"
                                            [margin]="toggleConfig.margin" [labels]="toggleConfig.labels"
                                            [color]="toggleConfig.color" [switchColor]="toggleConfig.switchColor"
                                            [fontColor]="toggleConfig.fontColor" [fontSize]="toggleConfig.fontSize">On
                                            Sale
                                        </ng-toggle>
                                    </span>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="profile-card-info">
                        <div class="row">

                            <div class="col-md-6 col-sm-6">
                                <div class="single-card-info d-flex">
                                    <div class="card-icon">
                                        <img src="assets/images/prod.png" alt="Card"> &nbsp;
                                    </div>
                                    <div class="card-info media-body">
                                        <h4 _ngcontent-mej-c137=""
                                            class="d-flex justify-content-between align-items-center mb-3">
                                            <span class="ui-button-text-icon-secondary">Quantity</span>
                                            <span class="badge bg-primary-3 rounded-pill">{{
                                                productDetails.sellerProduct.productQuantity }}</span>
                                        </h4>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-6">
                                <div class="single-card-info d-flex">
                                    <div class="card-icon">
                                        <img src="assets/images/salary.png" alt="Card"> &nbsp;
                                    </div>
                                    <div class="card-info media-body">
                                        <h4 _ngcontent-mej-c137=""
                                            class="d-flex justify-content-between align-items-center mb-3">
                                            <span class="ui-button-text-icon-secondary">Price</span>
                                            <span class="badge bg-primary-3 rounded-pill">{{
                                                productDetails.sellerProduct.productPrice | currency:'USD' }}</span>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                            <br> <br>
                            <br>

                            <div class="col-md-6 col-sm-6">
                                <div class="single-card-info d-flex">
                                    <div class="card-icon">
                                        <img src="assets/images/sold2.png" alt="Card"> &nbsp;
                                    </div>
                                    <div class="card-info media-body">
                                        <h4 class="d-flex justify-content-between align-items-center mb-3">
                                            <span class="ui-button-text-icon-secondary">Sold</span>
                                            <span class="badge bg-primary-3 rounded-pill"> {{
                                                productDetails.soldCounter? productDetails.soldCounter : 0 }}</span>
                                        </h4>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-6">
                                <div class="single-card-info d-flex">
                                    <div class="card-icon">
                                        <img src="assets/images/heart.png" alt="Card"> &nbsp;
                                    </div>
                                    <div class="card-info media-body">
                                        <h4 _ngcontent-mej-c137=""
                                            class="d-flex justify-content-between align-items-center mb-3">
                                            <span class="ui-button-text-icon-secondary">Favorite</span>
                                            <span
                                                class="badge bg-primary-3 rounded-pill">{{productDetails.wishListCounter}}</span>
                                        </h4>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="card" style="background-color: #262d35">
                    <div class="card-body">
                        <form [formGroup]="form" class="form-horizontal form-material mx-2">

                            <div class="form-group">
                                <label class="col-md-12" style="color: white">Name</label>
                                <div class="col-md-12">
                                    <input type="text" formControlName="productName"
                                        [value]='productDetails.sellerProduct.productName'
                                        class="form-control form-control-line" [readonly]='isFieldEnabled()'>
                                    <!-- <div *ngIf="productName.touched && productName.invalid" class="aletr alert-danger">
                                    <div *ngIf="productName.errors.required">Name is required!</div>
                                    <div *ngIf="productName.errors.minlength">Name should be at least {{ productName.errors.minlength.requiredLength }} characters !</div>   
                                </div> -->
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-12" style="color: white">Price</label>
                                <div class="col-md-12">
                                    <input type="text" formControlName="productPrice"
                                        [value]='productDetails.sellerProduct.productPrice | currency:"USD":true'
                                        class="form-control form-control-line" [readonly]='isFieldEnabled()'>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-12" style="color: white">Quantity</label>
                                <div class="col-md-12">
                                    <input type="text" [readonly]='isFieldEnabled()' formControlName="productQuantity"
                                        [value]='productDetails.sellerProduct.productQuantity'
                                        class="form-control form-control-line">
                                </div>
                            </div>

                            <!-- <div class="form-group">
                            <label class="col-md-12" style="color: white">SubCategory</label>
                            <div class="col-md-12">
                                <input type="text" [value]='productDetails.sellerProduct.subCategoryName' id="subCategoryInputId"
                                class="form-control form-control-line" disabled>
                            </div>
                        </div> -->

                            <div class="form-group">
                                <label class="col-md-12" style="color: white">Description</label>
                                <div class="col-md-12">
                                    <textarea rows="5" class="form-control" formControlName="description"
                                        style="resize: none"
                                        [readonly]='isFieldEnabled()'>{{productDetails.sellerProduct.productDescription}}</textarea>
                                </div>
                            </div>

                            <div class="form-group" style="text-align: center">
                                <div class="d-grid gap-2 d-md-block">
                                    <button type="button" (click)="onClickEdit()" [disabled]="!isFieldEnabled()"
                                        class="btn btn-danger upgrade-btn text-white align-items-center">
                                        <i class="fas fa-edit"></i> &nbsp;
                                        <span class="hide-menu m-l-4">Edit Product</span>
                                    </button>&nbsp; &nbsp; &nbsp;

                                    <button type="button" (click)="onClickSave()" [disabled]="isFieldEnabled()"
                                        class="btn btn-info upgrade-btn text-white align-items-center">
                                        <i class="fas fa-save"></i> &nbsp;
                                        <span class="hide-menu m-l-4">Save Product</span>
                                    </button>
                                </div>
                            </div>
                            <span id="updateSuccess" class="suc"
                                style=" display: none; color: green; text-align: center">
                                <h4>
                                    Product {{ productDetails.sellerProduct.productName }}
                                    updated successfully
                                    <i class="fas fa-check-square"></i>
                                </h4>
                            </span>
                            <span id="updateFailed" class="suc" style=" display: none; color: red; text-align: center">
                                <h4>
                                    Failed to update Product
                                    <i class="fas fa-times-circle"></i>
                                </h4>
                            </span>
                        </form>
                    </div>
                </div>

            </div>


            <div class="col-lg-7 col-xlg-8 col-md-7">

            </div>
            <br>
            <!-- <div style="text-align: center; color: #262d35">
            <h1>
                <i class="fab fa-playstation"></i>
                <i class="fas fa-gamepad"></i>
                <span class="logo-text">UnityStore</span>
            </h1>
        </div> -->
        </div>
    </div>



    <hr>
    <div class="container justify-content-center mb-20 mt-20" style="text-align: center;">
        <h3>Charts</h3>
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div *ngIf="isChartLoading">
                    <app-spinner></app-spinner>
                </div>
                <div *ngIf="!isChartLoading">
                    <app-line-chart [label]="'# of Prods. Sold'" [data]="chartData"
                        [title]="'Number of products Sold Vs Time'"></app-line-chart>
                </div>
            </div>
        </div>

    </div>

    <div class="mt-20"></div>