<section class="contact-wrapper pt-50 pb-100">
    <div class="row justify-content-center">
    <div class="col-lg-10">
        <div class="contact-style-3 contact-dark-style-3 text-center mt-50">
            <h4 class="heading-4 font-weight-500 title">Get in Touch</h4>
            <p class="paragraph-small sub-title mt-10">Feel free to drop us a line below!</p>
            <form action="#">
                <div class="single-form form-white text-start">
                    <label>Full Name</label>
                    <div class="form-input">
                        <input type="text" placeholder="Full Name">
                        <i class="mdi mdi-account"></i>
                    </div>
                </div>
                <div class="single-form form-white text-start">
                    <label>Email Address</label>
                    <div class="form-input">
                        <input type="text" placeholder="Email Address">
                        <i class="mdi mdi-email"></i>
                    </div>
                </div>
                <div class="single-form form-white text-start">
                    <label>Message</label>
                    <div class="form-input">
                        <textarea placeholder="Message"></textarea>
                        <i class="mdi mdi-message-text-outline"></i>
                    </div>
                </div>
                <div class="single-form">
                    <button class="main-btn secondary-1-btn">send message</button>
                </div>
            </form>
        </div>
    </div>
</div>
</section>