<section class="login-registration-wrapper pt-50 pb-100">
  <div class="container">
    <div class="row justify-content-center">

      <div class="col-xl-8 col-lg-10 justify-content-center">

        <div class="alert alert-danger" *ngIf="isError">
          <p [innerText]="errMessage"></p>
        </div>

        <div class="row justify-content-center" *ngIf="isLoading">
          <app-spinner></app-spinner>
        </div>


        <div class="login-registration-style-3 mt-20" *ngIf="!isLoading">
          <div class="card-icon" style="text-align: center;">
            <img src="assets/images/login.png" alt="Card">
            <img src="assets/images/supermarket.png" alt="Card">

          </div>
          <hr>
          <div class="card-icon heading-4 font-weight-500 title" style="text-align: center;">
            <b style="color: #542DED; margin-top: 3px;">Login to your account</b> &nbsp;
            <img src="assets/images/password.png" alt="Card">
          </div>
          <p class="paragraph-small font-weight-300 mt-15" style="text-align: center;">Login to your account for a
            faster checkout.</p>
          <div class="row">
            <div class="col-md-7">
              <form [formGroup]="loginForm" *ngIf="!isLoading">
                <div class="single-form form-default">
                  <b class="inputsLabel">
                    <i class="fas fa-envelope" style="color: rgb(75, 43, 43);"></i> &nbsp;
                    Email
                  </b>
                  <div class="form-input">
                    <input formControlName="email" type="email" placeholder="user@email.com">
                    <i class="mdi mdi-email"></i>
                  </div>
                  <div class="errors" *ngIf="getEmail().invalid && ( getEmail().dirty || getEmail().touched  )">
                    <small *ngIf="getEmail().errors?.required" id="emailHelp" class="form-text errMessage">Email
                      Required.</small>
                  </div>
                </div>
                <div class="single-form form-default">
                  <b class="inputsLabel">
                    <i class="fas fa-lock" style="color: rgb(13, 13, 68);"></i> &nbsp;
                    Password
                  </b>
                  <div class="form-input">
                    <input formControlName="password" id="password" type="password" placeholder="Password">
                    <i class="mdi mdi-lock"></i>
                    <span toggle="#password" class="mdi mdi-eye-outline toggle-password"></span>
                  </div>
                  <div class="errors"
                    *ngIf="getPassword().invalid && ( getPassword().dirty || getPassword().touched  )">
                    <small *ngIf="getPassword().errors?.required" id="emailHelp" class="form-text errMessage">Password
                      Required.</small>
                  </div>

                </div>

                <div class="single-form" style="text-align: center;">
                  <button [disabled]="loginForm.invalid" (click)="onSubmit()" class="main-btn primary-btn">
                    Log in</button>
                </div>
              </form>

            </div>
            <div class="col-md-5" style="padding-left: 55px; padding-top: 8px;">
              <p class="login">No account? <a routerLink="/register">Sign up</a></p>
              <p class="account mt-20">Continue as a Guest?</p>
              <div class="single-form">
                <a href="javascrip:void(0)" class="main-btn primary-btn-border">Continue</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>