

<section class="login-registration-wrapper pt-50 pb-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-10 justify-content-center">
                    <div class="alert alert-danger" *ngIf="isError">
                        <p>{{ errMessage }}</p>
                    </div>

                    <div class="row justify-content-center" *ngIf="isLoading">
                        <app-spinner></app-spinner>
                    </div>

                
                    <div class="login-registration-style-3 mt-50"  *ngIf="!isLoading">
                        <h4 class="heading-4 font-weight-500 title">Login to your account</h4>
                        <p class="paragraph-small font-weight-300 mt-15">Login to your account for a faster checkout.</p>
                        <div class="row">
                            <div class="col-md-7">
                                <form  [formGroup]="loginForm" (ngSubmit)="onSubmit()" *ngIf="!isLoading">
                                    <div class="single-form form-default">
                                        <label>Email Address: </label>
                                        <div class="form-input">
                                            <input
                                            formControlName="email"
                                            type="email" 
                                            placeholder="user@email.com">
                                            <i class="mdi mdi-email"></i>
                                        </div>
                                        <small 
                                        *ngIf="!getEmail().valid && getEmail().touched"
                                        id="emailHelp" class="form-text errMessage">We'll never share your email with anyone else.</small>
                                    </div>
                                    <div class="single-form form-default">
                                        <label>Password: </label>
                                        <div class="form-input">
                                            <input
                                            formControlName="password"
                                            id="password" 
                                            type="password" 
                                            placeholder="Password">
                                            <i class="mdi mdi-lock"></i>
                                            <span toggle="#password" class="mdi mdi-eye-outline toggle-password"></span>
                                        </div>
                                        <small
                                        *ngIf="!getPassword().valid && getPassword().touched"
                                        id="emailHelp" class="form-text errMessage">We'll never share your email with anyone else.</small>
                                    </div>
                                    <a class="forget" href="#0">Forget Password?</a>
                                    <div class="single-form">
                                        <button
                                        [disabled]="getEmail().valid && getPassword().valid"
                                        class="main-btn primary-btn">
                                        Log in</button>
                                    </div>
                                </form>

                            </div>
                            <div class="col-md-5">
                                <p class="account">Login with Social Account</p>
                                <ul>
                                    <li><a href="#0" class="facebook-login-registration"><i class="lni lni-facebook-original"></i> <span>Login with Facebook</span></a></li>
                                    <li><a href="#0" class="google-login-registration"><img src="assets/images/google-logo.svg" alt=""> <span>Login with Google</span></a></li>
                                </ul>
                                <p class="login">No account? <a routerLink="/register" >Sign up</a></p>
                                <p class="account mt-20">Continue as a Guest?</p>
                                <div class="single-form">
                                    <a href="#0" class="main-btn primary-btn-border">Continue</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>