<section class="login-registration-wrapper pt-50 pb-100">
  <div class="container">

    <div class="row justify-content-center">
      <div class="col-xl-8 col-lg-10">

        <div class="login-registration-style-1 registration text-center mt-50">
          <div class="card-icon">
            <img src="assets/images/shop.png" alt="Card">
            <img src="assets/images/order.png" alt="Card">
          </div>
          <hr>
          <!-- ================== Spinner =============== -->
          <mat-progress-spinner *ngIf="isLoading | async" [mode]="'indeterminate'"></mat-progress-spinner>
          <!-- ================== Spinner =============== -->
          <h1 class="heading-4 font-weight-500 title" style="color: #542DED;">Create a customer account</h1>
          <div class="login-registration-form pt-10">
            <form [formGroup]="form">
              <div class="form-group">
                <div class="single-form form-default form-border text-left">
                  <b class="inputsLabel">
                    <i class="fas fa-user-tie" style="color: blue;"></i>
                    Name
                  </b>
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="form-input">
                        <input formControlName="name" class="form-control" type="text" id="name" name="name"
                          placeholder="Name">
                        <div *ngIf="name.invalid && ( name.dirty || name.touched  )" class="aletr alert-danger"
                          style="text-align: center;">
                          <div *ngIf="name.errors?.required">Name is required!</div>
                          <div *ngIf="name.errors?.minlength">Name should be at least
                            {{ name.errors?.minlength.requiredLength }} characters !</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="">
                <div class="single-form form-default form-border text-left">
                  <b class="inputsLabel">
                    <i class="fas fa-envelope" style="color: blue;"></i>
                    Email
                  </b>
                  <div class="form-input">
                    <input formControlName="email" class="form-control" type="text" id="email" name="email"
                      placeholder="customer@gmail.com">

                    <div *ngIf="email.invalid && ( email.dirty || email.touched  )" class="aletr alert-danger"
                      style="text-align: center;">
                      <div *ngIf="email.errors?.required">Email is required!</div>
                      <div *ngIf="email.errors?.email">Invalid Email</div>
                      <div *ngIf="email.errors?.pattern">Invalid Email</div>
                    </div>

                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="single-form form-default form-border text-left">
                  <b class="inputsLabel">
                    <i class="fas fa-map-marker-alt" style="color: blue;"></i>
                    Address
                  </b>
                  <div class="form-input">
                    <input formControlName="address" class="form-control" type="text" id="address" name="address"
                      placeholder="Name">

                    <div *ngIf="address.invalid && ( address.dirty || address.touched  )" class="aletr alert-danger"
                      style="text-align: center;">
                      <div *ngIf="address.errors?.required">Address is required!</div>
                      <div *ngIf="address.errors?.minlength">Address should be at least
                        {{ address.errors?.minlength.requiredLength }} characters</div>
                      <div *ngIf="address.errors?.maxLength">Address should be at most
                        {{ address.errors?.maxLength.requiredLength }} characters</div>
                    </div>

                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="single-form form-default form-border text-left">
                  <b class="inputsLabel">
                    <i class="fas fa-phone" style="color: blue;"></i>
                    Phone
                  </b>
                  <div class="form-input">
                    <input formControlName="phone" class="form-control" type="text" id="phone" name="phone"
                      placeholder="01xxxxxxxxx">


                    <div *ngIf="phone.invalid && ( phone.dirty || phone.touched  )" class="aletr alert-danger"
                      style="text-align: center;">
                      <div *ngIf="phone.errors?.required">Phone is required!</div>
                      <div *ngIf="phone.errors?.minlength || phone.errors?.maxLength">Number should be at least
                        {{ phone.errors?.minlength.requiredLength }} numbers !</div>
                      <div *ngIf="phone.errors?.maxlength">Number should be at most
                        {{ phone.errors?.maxlength.requiredLength }} numbers !</div>
                      <div *ngIf="phone.errors?.pattern">
                        - Only numbers and start with '01' !
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="single-form form-default form-border text-left">
                  <b class="inputsLabel">
                    <i class="fas fa-lock"></i>
                    Password
                  </b>
                  <div class="form-input">
                    <input formControlName="password" class="form-control" id="password" name="password" type="password"
                      placeholder="Password" minlength="8" maxlength="20">


                    <div *ngIf="password.invalid && ( password.dirty || password.touched  )" class="aletr alert-danger"
                      style="text-align: center;">
                      <div *ngIf="password.errors?.required">Password is required!</div>
                      <div *ngIf="password.errors?.minlength">Password should be at least
                        {{ password.errors?.minlength.requiredLength }} characters !</div>
                    </div>

                    <!-- <div *ngIf="password.touched && password.invalid" class="aletr alert-danger">
                      <div *ngIf="password.errors.required">Password is required!</div>
                      <div *ngIf="password.errors.minlength">Password should be at least
                        {{ password.errors.minlength.requiredLength }} characters !</div>
                    </div> -->
                  </div>
                </div>
              </div>

              <div class="single-form">
                <button (click)="registerCustomer()" type="button"
                  class="main-btn primary-btn">Register</button>
              </div>
            </form>
          </div>

          <div class="d-sm-flex justify-content-between align-items-center">
            <p class="login">Already have an account? <a [routerLink]="['/login']">Sign in</a></p>
          </div>
        </div>
      </div>

    </div>
  </div>

</section>
