
    <!--====== Footer Dark Style 3 Part Start ======-->
    <section class="footer-style-3 footer-dark-style-3 pt-100 pb-100">
        <div class="container">
            <div class="footer-top">
                <div class="row justify-content-center">
                    <div class="col-lg-5 col-md-7 col-sm-10">
                        <div class="footer-logo text-center">
                            <a href="#0">
                                <img src="assets/images/logo-white-2.svg" alt="">
                            </a>
                        </div>
                        <ul class="footer-follow text-center">
                            <li><a href="#0"><i class="lni lni-facebook-filled"></i></a></li>
                            <li><a href="#0"><i class="lni lni-twitter-filled"></i></a></li>
                            <li><a href="#0"><i class="lni lni-linkedin-original"></i></a></li>
                            <li><a href="#0"><i class="lni lni-instagram-original"></i></a></li>
                            <li><a href="#0"><i class="lni lni-whatsapp"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="footer-widget-wrapper text-center pt-20">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div class="footer-widget">
                            
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div class="footer-widget">
                            <div *ngIf='isCustomer'>
                                <h5 class="footer-title">my Account</h5>
                                <ul class="footer-link">
                                <li><a routerLink='/profile'>Profile</a></li>
                                <li><a routerLink='/orders'>History</a></li>
                                <li><a routerLink='/cart'>Cart</a></li>
                                </ul>
                            </div>
                            <div *ngIf='isSeller'>
                                <h5 class="footer-title">my Account</h5>
                                <ul class="footer-link">
                                <li><a routerLink='/seller'>Dashboard</a></li>
                                <li><a routerLink='/seller/inventory'>Inventory</a></li>
                                <li><a routerLink='/seller/add-product'>Add Product</a></li>
                                </ul>
                            </div>
                            <div *ngIf='isAdmin'>
                                <h5 class="footer-title">my Account</h5>
                                <ul class="footer-link">
                                    <li><a routerLink='/admin'>Dashboard</a></li>
                                    <li><a routerLink='/admin/products'>Products</a></li>
                                    <li><a routerLink='/admin/customers'>Customers</a></li>
                                    <li><a routerLink='/admin/sellers'>Sellers</a></li>
                                </ul>
                            </div>
                            <div *ngIf='!isCustomer && !isAdmin && !isSeller'>
                                <h5 class="footer-title">my Account</h5>
                                <ul class="footer-link">
                                    <li><a routerLink='/login'>Login</a></li>
                                    <li><a routerLink='/register'>Customer Register</a></li>
                                    <li><a routerLink='/register'>Seller Register</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div class="footer-widget">
                            <h5 class="footer-title">Store</h5>
                            <ul class="footer-link">
                                <li><a routerLink='/'>Home</a></li>
                                <li><a routerLink='/shop'>Shop</a></li>
                                <li><a routerLink='/contact'>Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div class="footer-widget">
                            <h5 class="footer-title">Site</h5>
                            <ul class="footer-link">
                                <li><a routerLink='/login'>Login</a></li>
                                <li><a routerLink='/register'>Customer Register</a></li>
                                <li><a routerLink='/register'>Seller Register</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer-copyright text-center">
                <p>Made By M.A.G.W.A.M &copy; All rights reserved.</p>
            </div>
        </div>
    </section>
    <!--====== Footer Dark Style 3 Part Ends ======-->